 * {
    box-sizing: border-box;
}

h1, h2, h3, h4, p, ul {
    margin: 0;
    padding: 0;
} */

img {
    display: block;
    /* width: 200px;
    height: 100px; */
}

.container {
    width: 1360px;
    padding: 50px  15px;
    /* padding-left: 15px;
    padding-right: 15px; */
    margin-left: auto;
    margin-right: auto;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(100% - 50px) / 5;
    /* justify-content: center; */
    margin: -10px;
    /* margin-bottom: 30px; */
}

.photo-card {
    position: relative;
    margin: 10px;
    height: 200px;
}

.gallery-item {
    display: block;
}

.info {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    background-color: cornsilk;
    font-size: 12px;
}
.info-item {
   text-align: center;
}
.info-item:not(:last-child) {
    margin-right: 8px;
}

.search-form {
    /* text-align: center; */
    background-color: violet;
    /* padding-top: 20px;
    padding-bottom: 20px; */
    padding: 20px;

}

.searchQuery {

    width: 350px;
    height: 50px;
    border: transparent;
    padding: 15px 10px;
    margin-right: 10px;
    border-radius: 5px;
    outline: none;
    margin-left: 200px;
    
}

.choose-type {
    
    margin-right: 10px;
}


button {
    cursor: pointer;
    border: transparent;
    width: 200px;
    height: 50px;
    background-color: #8484FF;
    color: #212121;
    font-size: 20px;
    border-radius: 5px;

}

.load-more {
    
    /* opacity: 0; */
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}